<app-card [title]="title">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <img
          src="../../../../assets/icons/male.png"
          height="40rem"
          alt="male"
        />
        <span class="ps-2 title fs-4 align-middle">56%</span>
      </div>
      <div class="col">
        <img
          src="../../../../assets/icons/female.png"
          height="40rem"
          alt="female"
        />
        <span class="ps-2 title fs-4 align-middle">44%</span>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col">
        <img
          src="../../../../assets/icons/time.png"
          height="100rem"
          alt="time"
        />
      </div>
      <div class="genderText col">
        <span class="ps-2 main align-middle">Avg Dwell Time</span>
        <p class="ps-2 title fs-2 align-middle">23 Mins</p>
      </div>
    </div>
  </div>
</app-card>
