<div class="dashboard container-fluid px-lg-4 h-100">
  <div class="row pt-2 pb-5">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6 my-3">
          <app-football-card></app-football-card>
        </div>
        <div class="col-lg-6 my-3">
          <app-conversion-rate-card></app-conversion-rate-card>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 my-3">
          <app-age-card></app-age-card>
        </div>
        <div class="col-lg-6 my-3">
          <app-gender-and-dwell-card></app-gender-and-dwell-card>
        </div>
      </div>
    </div>
    <div class="col-lg-6 my-3">
      <app-overview></app-overview>
    </div>
  </div>
  <div>
    <app-summary-table></app-summary-table>
  </div>
</div>
